<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Implementacion de Internet de las cosas en invernadero">
  <meta name="keywords" content="IoT, invernadero, agricultura, produccion, internet of things, esp32">

  <title>WinteringIoT</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Main CSS & fonts -->
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

</head>

<body id="body">
    
  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="/static/javascript.js"></script>

</body>

</html>

<!-- <p class="text-dark mb-0 p-1"> -->
<!-- Contactanos <a href="https://wa.me/+573013240891" class="text-decoration-none"><span class="text-dark mb-0 p-1 ">+57-(301)-324-0891</span></a> -->
<!-- </p> -->
<!-- #8FCB01;" id="font1"-->
<!-- style="background-color: #013F3E; -->

<!-- /////////////// ESLOGAN & COMIENZA AHORA //////////////// -->
<!-- <video class="video" src="clip.mp4" autoplay muted loop width="100%"></video> -->